<%- include('partials/header') -%>
  <div class="container">
    <!-- <img src="https://i.ibb.co/dpqjfB6/pylyp-sukhenko-Sr3bhc-Yqft-A-unsplash.jpg" alt="smoked drink in a rocks glass"> -->
    <div class="row justify-content-left mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-4 d-flex flex-column align-items-center">
            <h1 class="title"><%= posts[i].title%></h1>
            <h2 class="text">Uploaded by <%= user.userName %></h2>
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>