<%- include('partials/header') -%>
<body class="body-background-inapp">
<div class="container">
    <div class="row justify-content-left mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <div class="flex justify-center">
            
            <div class="flex flex-col md:flex-row rounded-lg color-theme shadow-lg">
              <a href="/post/<%= posts[i]._id%>"><img class="image-border w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" src="<%=posts[i].image%>" alt="" /></a>

              <div class="p-6 flex flex-col justify-start">
                <h5 class="text-gray-900 font-medium mb-2 title"><%=posts[i].title%></h5>
                <p class="text-gray-700 text-base mb-4">
                  <%=posts[i].caption%>
                </p>
                <p class="text-gray-600 text-xs">Uploaded on <%=posts[i].createdAt%></p>
              </div>
            </div>
          </div>
          <hr class="my-8 h-px color-theme border-0 dark:bg-gray-700">
        <% } %>
        </ul>
    </div>
  </div>
</body>
<%- include('partials/footer') -%>